@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", "Lucida Grande","Lucida Sans Unicode", Tahoma, Sans-Serif;
  line-height: 1.5;
  padding: 20px;
}

ul {
  list-style: none;
}

a {
  color: #000;
}
a:hover {
  color: #000;
}

h2 {
  font-size: 2rem;
}

.title {
  color: #e10093;
}
.pokemonItem {
  border: 1px solid #e3e3e3;
  border-radius: 2px;
  margin-bottom: 2rem;
  /*max-height: 250px;*/
}
.pokemonItem__img {
  background: #f4f4f4;
  max-height: 100%;
  overflow: hidden;
  text-align: center;
}
.pokemonItem__img img {
  max-height: 170px;
}

.pokemonItem__txt {
  padding-left: 2rem;
}

.pokemonItem__name {
  font-weight: bold;
  color: #000; 
}

.cta-more {
  color: #bdbdbd;
}
.cta-more:hover {
  color: #97969a;
}

.pokemon__list__item {
  border-top: 1px solid #e2e2e2;
}

.pokemons-list {
  /*position: relative;*/
}

/* loader */

.overlay {
  width: 100%;
  background: #000;
  opacity: 0.9;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.loader {
  position: absolute;
  top: 50%;
  left: 48%;
}

.loader__item {
  animation: expand 1s ease-in-out infinite;
  border-radius: 10px;
  display: inline-block;
  transform-origin: center center;
  margin: 0 3px;
  width: 1px;
  height: 25px;
}

.loader__item:nth-child(1) {
  background: #27ae60;
}

.loader__item:nth-child(2) {
  animation-delay: 180ms;
  background: #f1c40f;
}

.loader__item:nth-child(3) {
  animation-delay: 360ms;
  background: #e67e22;
}

.loader__item:nth-child(4) {
  animation-delay: 540ms;
  background: #2980b9;
}

@keyframes expand {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(2);
  }
}
