@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", "Lucida Grande","Lucida Sans Unicode", Tahoma, Sans-Serif;
  line-height: 1.5;
  color: white;
  background: #444;
  padding: 20px;
}

.callout.secondary {
  margin-top: 20px;
  background: #222;
  color: white;
}
.comments-infos {
  margin: 0 0 1rem 0;
  background: #333;
  padding: 1rem;
  display: flex;
}
.comments-infos__item {
  width: 50%;
  font-size: 1.4rem;
}
.count-likes {
  color: #ff63bf
}
.count-coms {
  color: #4aff4a;
}
.comment-list {
  list-style: none;
  margin: 0 0 50px 0;
}
.comment-list > li {
    margin: 0 0 20px 0;
    background: #333;
    padding: 20px;
    position: relative;
}
.comment-user {
  display: flex;
  align-items: center;
  margin: 0 0 10px 0;
}
.comment-user__name {
  margin-right: 1rem;
  text-transform: uppercase;
}
.comment-user__date {
  color: #2199e8;
}
.comment-user__like {
  color: #ff63bf;
  position: absolute;
  right: 1.5rem;
}
    
.comment-user-avatar-wrap {
  width: 40px;
  margin-right: 10px;
}
.comment-username {
  margin-right: 5px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.on {
  margin-right: 5px;
}
.comment-text {
  background: white;
  color: #222;
  padding: 20px;
  margin-bottom: 1rem;
  :last-child {
    margin: 0;
  }
}

.button {
  margin-right: 1rem;
}

.post__cta-delete {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
}

.post__cta-more {
  position: absolute;
  bottom: 0.5rem;
  right: 1rem;
}